#mainNavbar {
    padding-left: 50px;
    padding-top: 20px
}

.navbar-dark .navbar-brand {
    font-family: 'Source Serif Pro', serif
}

.navbar-nav .nav-link {
    font-family: 'Source Serif Pro', serif
}

.display-4 {
    font-family: 'Source Serif Pro', serif
}

.lead {
    font-family: 'Source Serif Pro', serif
}

.scrolled {
    background: rgb(34, 31, 31);
    transition: background 500ms
}

.font-weight-light {
    font-family: 'Source Serif Pro', serif
}

#thumbnailNav {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/*ENDNAV*/

header {
    position: relative;
    background-color: black;
    height: 55vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

#headerContent {
    font-family: 'Amiri', serif;
    color: #cbc9c9;
    text-shadow: 3px 3px 60px #241958;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('../video/creativeVideo.mp4') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

.infoButtons {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #241958;
}



/*---------------BUTTON TABS-------------------*/

.topButtons {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    color: #2d334a;
    font-size: 23px;
    padding: 0;
}

.topButtons:hover {
    font-weight: bold;
}

.btnLink {
    border: 0 !important;
}

#myTab {
    border: none;
}

/*---------------COFFEE TAB-------------------*/

select {
    width: 200px;
    padding: 5px;
    border-radius:10px;
}

input[type=submit] {
    color: white;
    padding:5px 10px;
    background: #2d334a;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text] {
    padding:8px;
    border:0;
    box-shadow: 3px 4px 8px #2d334a;
    border-radius:10px;
}

.coffee {
    width: 250px;
    height: 250px;
    border-radius: 25%;
    -webkit-transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 10px 10px 5px #2d334a;
    box-shadow: 3px 4px 8px #2d334a;
}

#coffeeBagPic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 150px;
    width: 100px;
}

.coffee:hover {
    -webkit-transform: scale(1.1);
}

/*---------------LOCATIONS TAB-------------------*/

#map {
    width: 50%;
    height: 600px;
    margin: 0 auto;
}

/*---------------CONTACT US TAB-------------------*/

.contactSubmit {
    background-color: #2d334a;
    color: white;
}



