@font-face {
    font-family: Bellandha;
    src: url("../fonts/Bellandha.ttf");
}

@font-face {
    font-family: Signature;
    src: url("../fonts/SignatureDemo.ttf");
}

@font-face {
    font-family: DanceSignature;
    src: url("../fonts/The Dance Signature.ttf");
}


#mainNavbar {
    padding-left: 50px;
    padding-top: 20px
}

.navbar-dark .navbar-brand {
    font-family: 'Source Serif Pro', serif
}

.navbar-nav .nav-link {
    font-family: 'Source Serif Pro', serif
}

.display-4 {
    font-family: 'Source Serif Pro', serif
}

.lead {
    font-family: 'Source Serif Pro', serif
}

.scrolled {
    background: rgb(34, 31, 31);
    transition: background 500ms
}

.font-weight-light {
    font-family: 'Source Serif Pro', serif
}

#thumbnailNav {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/*ENDNAV*/

header {
    position: relative;
    background-color: black;
    height: 55vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

#headerContent {
    font-family: 'Amiri', serif;
    color: #cbc9c9;
    text-shadow: 3px 3px 60px #241958;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('../video/creativeVideo.mp4') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}


/*---------------BUTTON TABS-------------------*/

.topButtons {
    border-radius: 40%;
    width: 135px;
    height: 135px;
    color: #2d334a;
    font-size: 23px;
    padding: 0;
}


#aboutMeContent, #projectContentHeader {
    font-family: DanceSignature, sans-serif;
}

.card, .carousel-item > img{
    border-radius: 3%;
}

.card {
    max-width: 85%;
    -webkit-box-shadow: 4px 4px 70px -10px rgba(47,21,117,1);
    -moz-box-shadow: 4px 4px 70px -10px rgba(47,21,117,1);
    box-shadow: 4px 4px 70px -10px rgba(47,21,117,1);
}

.card-title, ul{
    list-style-type: none;
    text-align: center;
}

.btn-outline-secondary {
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    font-size: large;
}

.colorGifDiv {
    width: 265px;
    height: 145px;
}

#projectDivForGIF {
    height: 100px;
}

.gif {
    background-image: url("../img/colorExplosion.gif");
    background-size: cover;
    width: 265px;
    height: 125px;
    border: none;
}





